<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zs.com.wuzhi">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/uz_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.DiaryActivity"></activity>
        <activity android:name=".activity.PrimaryActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.CommonSubmitActivity"></activity>
        <activity android:name=".activity.AddDiaryActivity"></activity>
        <activity android:name=".activity.MyDiaryActivity"></activity>
        <activity android:name=".activity.MyDiaryDetailActivity"></activity>
        <activity android:name=".activity.SelfPhotoActivity"></activity>
        <activity android:name=".activity.FollowActivity"></activity>
        <activity android:name=".activity.GestureEditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.GestureVerifyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TopBarActivity"/>

        <!-- tool-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>